{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>

    <!-- Favicon Page -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <!-- Css Header -->
    <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">

    <!-- Css Footer -->
    <link rel="stylesheet" href="{% static 'css/layout/footer.css' %}">

    <!-- Css Página -->
    <link rel="stylesheet" href="{% static 'css/pages/sobre.css' %}">
</head>

<body>
    <header>

        <div id="logo-area">
            <img src="{% static 'img/logo.png' %}" id="logo">
        </div>

        <ul>
            <a href="index">
                <li class="nav-item">Home</li>
            </a>
            <a href="noticias">
                <li class="nav-item">Notícias</li>
            </a>
            <a href="sobre">
                <li class="nav-item">Sobre</li>
            </a>
            <a href="equipe">
                <li class="nav-item">Equipe</li>
            </a>
            <a href="doacoes">
                <li class="nav-item">Doações</li>
            </a>
            <a href="voluntario">
                <li class="nav-item">Torne-se Voluntário</li>
            </a>
            <a href="atendidos">
                <li class="nav-item">Atendidos</li>
            </a>
            <a href="ajude">
                <li class="nav-item">Ajude</li>
            </a>
            <a href="infouteis">
                <li class="nav-item">Informações Úteis</li>
            </a>
            
        </ul>
    </header>
    <button class="menu-toggle" onclick="toggleMenu()">
        <div class="menu-toggle-icon"></div>
    </button>

    <div class="sidebar" id="sidebar">
        <ul class="navs">
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="noticias" class="nav-item">Noticias</a></li>
            <li><a href="sobre" class="nav-item">Sobre</a></li>
            <li><a href="equipe" class="nav-item">Equipe</a></li>
            <li><a href="doacoes" class="nav-item">Doações</a></li>
            <li><a href="voluntario" class="nav-item">Torne-se Voluntário</a></li>
            <li><a href="atendidos" class="nav-item">Atendidos</a></li>
            <li><a href="ajude" class="nav-item">Ajude</a></li>
            <li><a href="infouteis" class="nav-item">Informações Úteis</a></li>
        </ul>
    </div>

    <main>
        <div class="title">
            <h1>Informações Úteis</h1>
        </div>

        <div class="all">

            <div class="section" id="section-history">
                <div class="imgArea">
                    <img src="{% static 'img/hospital.png' %}" alt="">
                </div>
                <div class="history">
                    <h2 class="subtitle">Tratamento de Câncer no Vale do Paraíba</h2>
                    <p class="info">
                    No Vale do Paraíba, existem vários locais para tratamento de câncer, incluindo hospitais e instituições especializadas:
                    <br><br> 
                    Hospital Regional do Vale do Paraíba/Sociedade Beneficente São Camilo: Tem serviços de radioterapia e hematologia
                    <br><br> 
                    Hospital Municipal Universitário de Taubaté: Tem cirurgia oncológica
                    <br><br> 
                    Instituto de Oncologia do Vale (IOV): Foi a primeira instituição a oferecer serviços especializados no diagnóstico e tratamento de câncer na região. O IOV atende adultos com câncer em São José dos Campos e Taubaté. 
                    <br><br> 
                    Hospital GACC Vale do Paraíba: Atende crianças e jovens com câncer, oferecendo recursos médicos, sociais, psicológicos e pedagógicos. 
                    </p>



                    </p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div>
        <p>
        <a class="btn-redes-sociais" href="#" role="button">Instagram</a>
        <a class="btn-redes-sociais" href="https://www.facebook.com/profile.php?id=100075741554563" role="button">Facebook</a>
        <a class="btn-redes-sociais" href="newsletter" role="button">Cadastre na Newsletter!</a>
        </p>
        <br>
        <p>
        <button type="button" class="btn-redes-sociais" name="btn1" onclick="changeSizeByBtn('15px')">-A</button>
        <button type="button" class="btn-redes-sociais" name="btn1" onclick="changeSizeByBtn('22px')">A</button>
        <button type="button" class="btn-redes-sociais" name="btn3" onclick="changeSizeByBtn('30px')">A+</button>
        </p>
    </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/fonte.js' %}"></script>

</body>

</html>